// 项目中提供scss全局变量
$color:red;

$left_menu_width: 256px;

$top_nav_height: 50px;

// 左侧菜单logo组件高度
$base_menu_logo_height: 50px;

// 左侧菜单logo右侧文字大小
$base_menu_title_size:20px;

// 左侧菜单收起来后的宽度
$base_menu_width_fold:50px;